:root {
  --purple: #0a122b;
  --blue: #11235a;
  --yelo: #f6eca9;
  --black: #000;
  --white: #fff;
  --grey: #6e6e6e;
  --lightgrey: #aeaeae;
  --lightblue: #273a72;
  --whitedark: #dddddd;
  --yelodark: #f6e976;
  --cream: #c6cf9b;
  --red: #ff3333;
}

.lecturer-page {
  flex: 0.925;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  border-radius: 0.5rem;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.lecturer-page-menu .pagination {
  margin-bottom: 4rem;
}

.lecturer-page .lecturer-content {
  flex: block;
}

.lecturer-page .table-container {
  margin-bottom: 6rem;
}

.lecturer-content .greetings,
.lecturer-subscribed,
.private-discussion-text {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: default;
}

.lecturer-subscribed-content ul .pagination {
  justify-content: start;
}

.lecturer-subscribed-button button,
.lecturer-request-private-button button {
  margin-bottom: 10px;
  outline: none;
  background: none;
  width: 12rem;
  border-radius: 5rem;
  border: #fff 1px solid;
  color: #fff;
  font-size: 16px;
  height: 30px;
}

.lecturer-subscribed-button .request-private-btn,
.lecturer-request-private-button .request-private-btn {
  background-color: var(--yelo);
  color: var(--blue);
  font-weight: 600;
  border: none;
}

.lecturer-subscribed-button .request-private-btn:hover,
.lecturer-request-private-button .request-private-btn:hover {
  background-color: var(--yelodark);
  color: var(--blue);
  font-weight: 600;
  border: none;
}

.lecturer-page .unsubscribe-btn {
  font-weight: 600;
}

.lecturer-page .unsubscribe-btn:hover {
  background-color: var(--lightblue);
  font-weight: 600;
}

.lecturer-page .lecturer-subscribed-content {
  margin: 0;
  padding: 0;
}

.lecturer-page .all-lecturer-container {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.lecturer-page .all-lecturer-container:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.lecturer-page .lecturer-leaderboard-table:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.lecturer-page .no-subscribe-lecturer {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
}

.lecturer-page .chip {
  padding: 0.25rem 0.75rem;
  background-color: var(--lightblue2);
  font-size: 14px;
  border-radius: 5rem;
  width: fit-content;
  height: fit-content;
  font-weight: light;
  color: var(--white);
  margin: 0;
}

.lecturer-page .MuiTableHead-root {
  cursor: default;
}

.lecturer-page .MuiTableCell-root {
  font-family: "Montserrat";
}

.lecturer-page .css-34nofg-MuiTableRow-root:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.lecturer-page .top-lecturers:hover {
  font-weight: bold;
  opacity: 1;
  text-decoration: underline;
  font-size: 14.5px;
}

.lecturer-page .private-coin {
  opacity: 0.7;
}

.lecturer-page .private-coin:hover {
  font-size: 16px;
  opacity: 1;
}

.all-lecturer-name:hover {
  font-size: 21px;
  text-decoration: underline;
}

.lecturer-page .chip-leaderboard {
  padding: 0.25rem 0.75rem;
  background-color: var(--red);
  font-size: 14px;
  border-radius: 5rem;
  width: fit-content;
  height: fit-content;
  font-weight: light;
  color: var(--white);
  margin: 0;
}

.lecturer-page .chip-leaderboard-forum-points {
  padding: 0.25rem 0.75rem;
  background-color: var(--cream);
  font-size: 14px;
  border-radius: 5rem;
  width: fit-content;
  height: fit-content;
  font-weight: light;
  color: var(--purple);
  margin: 0;
}
