:root {
  --purple: #0a122b;
  --blue: #11235a;
  --yelo: #f6eca9;
  --black: #000;
  --white: #fff;
  --grey: #6e6e6e;
  --lightgrey: #aeaeae;
  --lightblue: #273a72;
  --lightblue2: #596fb7;
  --whitedark: #dddddd;
  --yelodark: #f6e976;
  --cream: #c6cf9b;
  --red: #ff3333;
}

body {
  /* display: flex;
  flex-direction: column;
  color: white; */
  background-color: var(--purple);
}

/* Note: All page ini terapin aja di semua css */
.all-page {
  display: flex;
  height: 100vh;
  background-color: var(--purple);
  color: white;
  overflow: hidden;
  /* margin: 0.5rem; */
  padding: 0.5rem;
  flex: 1;
}

.sidebar-content {
  position: relative;
  flex: 0.075;
  /* background-color: #f6eca9; */
  margin-right: 0.5rem;
}

.home-content {
  flex: 0.725;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  /* flex-grow: 1; */
  /* height: 100%; */
}

.create-course-button,
.coin-withdraw-button,
.set-discussion-button,
.private-discussion-button {
  height: 4rem;
  font-size: 21px;
  font-weight: bold;
  border: none;
  color: var(--white);
}

.create-course-button {
  background: radial-gradient(#959cda, #1428da);
  background-repeat: no-repeat;
  filter: brightness(80%);
  transition: all 0.5s ease-in;
}

.create-course-button:hover {
  background: radial-gradient(#959cda, #1428da);
  background-repeat: no-repeat;
  filter: brightness(100%);
}

.set-discussion-button {
  background: radial-gradient(#c6e1a4, #46691a);
  background-repeat: no-repeat;
  filter: brightness(80%);
  transition: all 0.5s ease-in;
}

.set-discussion-button:hover {
  background: radial-gradient(#c6e1a4, #46691a);
  background-repeat: no-repeat;
  filter: brightness(100%);
}

.private-discussion-button {
  background: radial-gradient(#63a77e, #aed0bc);
  background-repeat: no-repeat;
  filter: brightness(80%);
  transition: all 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.private-discussion-reminder {
  background-color: var(--red);
  /* padding: 0.25rem; */
  width: 1.5vw;
  height: 1.5vw;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px var(--whitedark);
}

.private-discussion-button:hover {
  background: radial-gradient(#63a77e, #aed0bc);
  background-repeat: no-repeat;
  filter: brightness(95%);
}

.coin-withdraw-button {
  background: radial-gradient(#90928f, #bab8cc);
  background-repeat: no-repeat;
  filter: brightness(80%);
  transition: all 0.5s ease-in;
}

.coin-withdraw-button:hover {
  background: radial-gradient(#90928f, #bab8cc);
  background-repeat: no-repeat;
  filter: brightness(100%);
}

.greetings {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: default;
}

.add-courses {
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: default;
}

.greetings h1 {
  font-size: 48px;
  font-weight: 600;
}

.greetings h4 {
  font-size: 21px;
}

.no-italic {
  font-style: normal;
}

.search-wrapper {
  margin: 1rem 2rem;
  cursor: default;
}

.search-left {
  border: none;
  width: 100%;
  overflow-x: hidden;
  /* background-color: red; */
}

.search-input {
  width: 100%;
}

.search-button {
  background-color: white;
  border: 0;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  height: 3.5rem;
  padding: 0rem 2rem;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.search-container input {
  background-color: transparent;
  border: none;
  width: 98%;
  height: auto;
  font-size: 1.25rem;
  padding: 0.2rem;
}

.coin-wrapper {
  display: flex;
  margin: 0rem 2rem;
  flex-direction: row;
  justify-content: flex-end;
}

.coin-link {
  margin-left: 0.5rem;
  font-size: 32px;
  font-weight: 600;
  color: var(--yelo);
}

.coin-link {
  opacity: 0.7;
}

.coin-link:hover {
  opacity: 1;
}

.class-wrapper {
  height: fit-content;
}

.disc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemss:hover {
  background-color: var(--lightblue);
  cursor: pointer;
}

.disc-list {
  display: flex;
  flex-direction: row;
}

.card-container {
  align-items: center;
}

/* Bagian Kanan */

.right-home {
  flex: 0.2;
  height: 100%;
  display: flex;
  /* background-color: yellow; */
  flex-direction: column;
}

/* Upcoming Discussion */

.right-home .upcoming-discussion {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  height: 40%;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  cursor: default;
}

.right-home .upcoming-discussion p {
  font-size: 21px;
  font-weight: 600;
}

.right-home .view-all {
  text-decoration: none;
  color: white;
  padding: 0.25rem 2rem;
  border-style: solid;
  width: fit-content;
  border-radius: 5rem;
  border-color: white;
  font-size: 9px;
  border-width: 0.125rem;
}

.right-disc {
  cursor: pointer;
  /* background-color: red; */
  justify-content: center;
}

.right-disc-active {
  background-color: var(--lightblue);
}

.right-disc:hover {
  background-color: #6186f644;
}

.right-home .view-all:hover {
  background-color: #6186f644;
  color: var(--whitedark);
}

.disc-date {
  width: 4vw;
  height: 7vh;
}

.disc-title {
  width: 11vw;
  gap: 0.125rem;
}

.disc-time {
  height: 7vh;
  width: 5vw;
}

/* Statistic */

.right-home .statistic {
  display: flex;
  flex-direction: column;
  /* max-height: 100vh; */
  /* margin-top: 0.5rem; */
  border-radius: 0.5rem;
  background-color: var(--blue);
  cursor: default;
  height: max-content;
  flex-grow: 1;
}

.right-home .statistic h2 {
  font-size: 21px;
  font-weight: 600;
}

.right-home .statistic p {
  font-size: 9px;
  font-weight: 100;
}

.bar-chart {
  width: 50%;
}

.pie-chart {
  height: 10rem;
  width: 10rem;
}

/* Class Discussion */

.disc-content {
  /* display: flex;
  flex-direction: column; */
  /* background-color: red; */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  /* justify-content: space-around; */
  /* flex-wrap: nowrap; */
  /* height: 5rem; */
}

.lecturer-profile img {
  height: 32px;
  width: 32px;
  border-radius: 0.25rem;
  background-color: white;
}

.class .title-class {
  display: flex;
  flex-direction: column;
}

.class .title-class h3 {
  /* line-height: 18px; */
  font-size: 14px;
  font-weight: 600;
}

.class .lecturer-discussion {
  text-decoration: none;
  color: var(--lightgrey);
  font-size: 10px;
}

.class .lecturer-discussion:hover {
  color: var(--white);
}

.class .tooltip-title {
  visibility: hidden;
  font-size: 10px;
  font-weight: 600;
  background-color: var(--white);
  color: var(--blue);
  border-radius: 0rem;
  padding: 0.25rem 1rem;
  margin-top: 1.2rem;
  margin-left: 4rem;
  position: absolute;
  z-index: 99;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.class .title-class:hover .tooltip-title {
  visibility: visible;
  transition: 0.25s all ease;
  transition-delay: 0.5s;
}

.disc-detail {
  width: 100%;
}

.badge.badge-outlined {
  border: 1px solid transparent;
  border-color: #fff;
  background-color: var(--lightblue2);
  color: #fff;
}

.thumbnail {
  cursor: pointer;
}

.container-disc-header {
  position: relative;
  text-align: center;
  color: white;
  height: 10rem;
}

.container-disc-header .disc-image {
  height: 10rem;
  width: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0rem 0.25rem;
}

.top-left {
  position: absolute;
  top: 8px;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  left: 8px;
  padding: 0rem 0.25rem;
}

.top-left span {
  font-size: 10px;
  font-weight: 600;
  padding: 0rem 0.25rem;
}

.top-right {
  position: absolute;
  top: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 10px;
  right: 8px;
  padding: 0rem 0.25rem;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 10px;
  padding: 0rem 0.25rem;
}

.grouping {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.chip {
  margin-top: 0.25rem;
  padding: 0.25rem 0.75rem;
  background-color: var(--lightblue2);
  font-size: 10px;
  border-radius: 5rem;
  width: fit-content;
  height: fit-content;
  font-weight: light;
  color: var(--white);
}

.home-list .nav-tabs .nav-link:hover {
  opacity: 1;
}

.home-list .nav-link {
  background-color: var(--blue);
  border-style: solid;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-color: var(--grey);
  color: var(--white);
  opacity: 0.5;
  font-weight: 600;
}

.home-list .nav-link.active {
  background-color: var(--blue);
  border-top: none;
  border-right: none;
  border-left: none;
  opacity: 1;
  color: white;
}

.home-list .nav-link.active:hover {
  background-color: var(--blue);
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0.25rem;
}

.filter-btn {
  margin: 0.5rem;
  padding: 0.25rem 1rem;
  /* border: #fff; */
  /* border-width: 1px;
  border-style: solid; */
  font-size: 10px;
  border-radius: 5rem;
  /* width: fit-content; */
  font-weight: light;
  color: var(--white);
  min-width: 7rem;
  text-align: center;
  cursor: default;
  background-color: rgba(110, 124, 163, 0.5);
}

.filter-btn:hover {
  background-color: rgba(110, 124, 163, 0.8);
  color: var(--whitedark);
}

/* Class */

.card-body {
  height: 9rem;
  display: flex;
  align-items: center;
}

.container-class-header {
  position: relative;
  text-align: center;
  color: white;
  /* background-color: red; */
  /* width: 100%; */
}

.container-disc-header .class-thumbnail .class-image {
  /* height: 15rem; */
  /* width: 100%; */
}

.container-class-header .class-thumbnail img {
  height: 20rem;
  width: fit-content;
}

.course-item-box:hover {
  background-color: var(--lightblue);
}

/* Pagination */

.homes .pagination {
  cursor: default;
  position: fixed;
  bottom: 1.5rem;
}

.set-discussion-button {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../../../../public/assets/set_discussion.png");
  color: white;
  height: 4rem;
  font-size: 21px;
}

.create-course-button {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../../../../public/assets/create_course.png");
  height: 4rem;
  font-size: 21px;
  color: white;
  font-weight: 700;
}

.private-discussion-button {
  background: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)
    ),
    url("../../../../public/assets/private_discussion.png");
  height: 4rem;
  font-size: 21px;
  color: white;
  font-weight: 700;
}

.coin-withdraw-button {
  background: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)
    ),
    url("../../../../public/assets/coin_button.png");
  height: 4rem;
  font-size: 21px;
  color: white;
  font-weight: 700;
}

/* Home Teacher */

.top-courses {
  margin-top: 4rem;
}

.top-courses h1 {
  margin-bottom: 1rem;
  font-size: 48px;
}

.top-courses .course-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.top-courses .bottom-left-courses {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  /* font-size: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0rem 0.25rem; */
}

.top-courses .purchased-course {
  font-size: 14px;
  opacity: 0.6;
}

.top-courses .see-all-btn {
  background-color: var(--blue);
  border: 2px white solid;
  outline: none;
  border-radius: 50px;
  color: var(--white);
  width: 5vw;
  height: 2vw;
}

.top-courses .see-all-btn:hover {
  background-color: rgba(255, 255, 255, 15%);
}
