:root {
  --purple: #0a122b;
  --blue: #11235a;
  --yelo: #f6eca9;
  --black: #000;
  --white: #fff;
  --grey: #6e6e6e;
  --lightgrey: #aeaeae;
  --lightblue: #273a72;
  --lightblue2: #596fb7;
  --whitedark: #dddddd;
  --yelodark: #f6e976;
}

.modal-content {
  width: 100%;
  height: 90vh;
}

.add-course-header .close-btn {
  opacity: 0.6;
  cursor: pointer;
}

.add-course-header .close-btn:hover {
  opacity: 1;
}

.add-course-body .input-boxx {
  position: relative;
  margin-top: 1rem;
  width: 100%;
}

.add-course-body .input-boxx input {
  width: 100%;
  height: 100%;
  background: #fff;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  display: inline;
  padding: 20px 45px 20px 24px;
}

.add-course-body .input-boxx label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #000;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.2s ease;
}

.add-course-body .input-boxx input:focus ~ label,
.add-course-body .input-boxx input:valid ~ label {
  top: 20%;
  font-size: 10px;
}

.add-course-body .input-boxx :placeholder-shown {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding: 24px 24px;
}

.add-course-body .input-boxx textarea {
  padding: 24px;
  border-radius: 0.25rem;
}

.add-course-body .next-btn button {
  height: 4rem;
  width: 20%;
  background-color: #f6eca9;
  border: none;
  outline: none;
  border-radius: 50px;
  color: #11235a;
  position: absolute;
  bottom: 8%;
}

.add-course-body .next-btn button:hover,
.add-course-body .submit-btn:hover {
  background-color: var(--yelodark);
}

.add-course-body .buttons {
  position: absolute;
  bottom: 8%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.add-course-body .back-btn {
  height: 4rem;
  width: 20%;
  background-color: rgba(255, 255, 255, 0);
  border: 2px white solid;
  outline: none;
  border-radius: 50px;
  color: var(--white);
}

.add-course-body .back-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.add-course-body .submit-btn {
  height: 4rem;
  width: 20%;
  background-color: var(--yelo);
  border: none;
  outline: none;
  border-radius: 50px;
  color: var(--blue);
}
