:root {
  --purple: #0a122b;
  --blue: #11235a;
  --yelo: #f6eca9;
  --black: #000;
  --white: #fff;
  --grey: #6e6e6e;
  --lightgrey: #aeaeae;
  --lightblue: #273a72;
  --lightblue2: #596fb7;
  --whitedark: #dddddd;
  --yelodark: #f6e976;
}

.all-page-calendar {
  display: flex;
  height: 100vh;
  background-color: var(--purple);
  color: white;
  overflow: hidden;
  /* margin: 0.5rem; */
  padding: 0.5rem;
  flex: 1;
}

.disc-course-content {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar-content-calendar {
  position: relative;
  flex: 0.075;
  /* background-color: #f6eca9; */
  margin-right: 0.5rem;
}

.disc-course-content {
  flex: 0.925;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  border-radius: 0.5rem;
}

.disc-calendar {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0rem 2rem;
  width: 100%;
}

.disc-item {
  display: flex;
}

.disc-item img {
  width: 100%;
  aspect-ratio: 20/10;
}

.calendar-prevbutton,
.calendar-nextbutton {
  border: none;
  background: none;
}

.date-column {
  border: none;
  background: none;
}

.date-span {
  width: 35px !important;
  display: inline-block;
}

.disc-image {
  position: relative;
}

.participant-total {
  position: absolute;
  left: 1rem;
  top: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: default;
}

.card {
  --bs-card-spacer-y: 0;
  --bs-card-spacer-x: 0;
}

.disc-body {
  background-color: #11235a;
  color: white;
}

.right-container {
  width: 50%;
  overflow: hidden;
}

.sidebar-content {
  position: relative;
  flex: 0.075;
  /* background-color: #f6eca9; */
  margin-right: 0.5rem;
}

.account-course-content {
  margin: 0rem 2rem 6rem 2rem;
  width: 88vw;
  padding-bottom: 1rem;
  display: inline-flex;
  gap: 1rem;
  list-style: none;
  overflow-x: hidden;
  /* scrollbar-color: var(--white); */
  /* user-select: none; */
}

.account-course-content:hover {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  transition: all 2s;
}

.account-course-content::-webkit-scrollbar {
  height: 1rem;
  background-color: var(--lightblue);
}

.account-course-content::-webkit-scrollbar-thumb,
.account-course-contentl::-webkit-scrollbar-track {
  margin-top: 2rem;
  border-radius: 92px;
}

.account-course-content::-webkit-scrollbar-thumb {
  background: var(--lightblue2);
}

.carousel-control-prev-icon .carousel-control-next-icon {
  border-color: #fff !important;
  stroke: #dddddd !important;
  fill: red !important;
  color: black !important;
  text-shadow: #11235a !important;
}

.all-page-calendar .join-btn {
  background-color: var(--blue);
  border: none;
  width: 8vw;
  height: 5vh;
  font-weight: bold;
  color: var(--white);
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  margin-top: 1rem;
}

.all-page-calendar .join-btn:hover {
  background-color: var(--blue);
  filter: brightness(80%);
}

.all-page-calendar .join-btn-disabled {
  background-color: #eeeeee;
  border: none;
  width: 8vw;
  height: 5vh;
  font-weight: bold;
  color: #6e6e6e;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  margin-top: 1rem;
}

.all-page-calendar .cancel-btn {
  border: 2px solid var(--blue);
  background-color: white;
  width: 8vw;
  height: 5vh;
  font-weight: bold;
  color: var(--blue);
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  margin-top: 1rem;
}

.all-page-calendar .cancel-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.all-page-calendar .auto-complete-btn {
  background-color: var(--lightblue2);
  border: none;
  width: 8vw;
  height: 5vh;
  font-weight: bold;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  margin-top: 1rem;
  opacity: 60%;
}

.all-page-calendar .complete-btn {
  background-color: var(--lightblue2);
  border: none;
  width: 8vw;
  height: 5vh;
  font-weight: bold;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  margin-top: 1rem;
  opacity: 60%;
}

.all-page-calendar .mark-complete-btn {
  background-color: var(--lightblue2);
  border: none;
  width: 8vw;
  height: 5vh;
  font-weight: bold;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  margin-top: 1rem;
}

.all-page-calendar .mark-complete-btn:hover {
  background-color: var(--lightblue);
}
