:root {
  --purple: #0a122b;
  --blue: #11235a;
  --yelo: #f6eca9;
  --black: #000;
  --white: #fff;
  --grey: #6e6e6e;
  --lightgrey: #aeaeae;
  --lightblue: #273a72;
  --lightblue2: #596fb7;
  --whitedark: #dddddd;
  --yelodark: #f6e976;
  --cream: #c6cf9b;
  --red: #ff3333;
}

.course-detail-container .container-card-scroll {
  max-width: 1400px;
  /* padding: 0rem 1rem; */
  overflow-x: hidden;
  overflow-y: hidden;
  list-style: none;
  scrollbar-color: transparent;
  margin: 0 auto;
  height: 55vh;
}

.course-detail-container .container-card-scroll:hover {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  transition: all 2s;
}

.course-detail-container .container-card-scroll::-webkit-scrollbar {
  height: 1rem;
  background-color: var(--lightblue);
  margin-top: 2rem;
  border-radius: 92px;
}

.course-detail-container .container-card-scroll::-webkit-scrollbar-thumb {
  background: var(--lightblue2);
  border-radius: 92px;
}

.course-detail-container .container-card-scroll h2 {
  font-size: 32px;
  margin-bottom: 1em;
}

.container-card-scroll .cards {
  display: grid;
  grid-auto-columns: 100%;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  padding: 1rem 0px;
  list-style: none;
  scroll-snap-type: x mandatory;
}

.container-card-scroll .chapter-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 20rem;
  height: 40rem;
  /* background: var(--black); */
  border-radius: 12px;

  scroll-snap-align: start;
  transition: all 0.2s;
  justify-content: start;
  align-items: center;
}

.chapter-pict {
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 55%);
}

.container-card-scroll .card:hover {
  color: var(--white);
  background: var(--orange);
}

.chapter-index {
  font-size: 14px;
  color: white;
  opacity: 0.6;
}

.chapter-title {
  font-size: 18px;
  color: white;
  /* font-weight: bold; */
}

.container-card-scroll .card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.container-card-scroll .card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--orange);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.container-card-scroll .cards::-webkit-scrollbar-thumb,
.container-card-scroll .cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.container-card-scroll .cards::-webkit-scrollbar-thumb {
  background: var(--lightblue2);
}

.container-card-scroll .cards::-webkit-scrollbar-track {
  background: var(--purple);
}

@media (min-width: 1100px) {
  .container-card-scroll .cards {
    grid-auto-columns: calc(25% - 40px);
    grid-column-gap: 8rem;
  }
}

.modal-overlay {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: flex;
  flex-direction: column;
  background: var(--blue);
  width: 50%;
  height: 70%;
  padding: 1rem;
  border-radius: 0.25rem;
  /* justify-content: center;
  align-items: center; */
}

.course-detail-btn {
  outline: none;
  background: none;
  width: 10vw;
  margin-top: 1rem;
  border-radius: 5rem;
  border: none;
  color: #fff;
  font-size: 21px;
  height: fit-content;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
}

.course-detail-btn:hover {
  filter: brightness(80%);
}

.course-status-btn {
  outline: none;
  background: none;
  width: 10vw;
  margin-top: 1rem;
  border-radius: 5rem;
  border: none;
  color: #fff;
  font-size: 21px;
  height: 5vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.lecturer-redirect-container {
  cursor: pointer;
  background-color: var(--white);
  color: var(--purple);
  font-weight: bold;
}

.lecturer-redirect-container:hover {
  background-color: var(--whitedark);
}

.lecturer-redirect-container p {
  font-size: 18px;
}

.lecturer-redirect-container p:hover {
  text-decoration: underline;
  font-size: 19px;
}

.course-item-content {
  cursor: default;
}

/* Course Chapter */

.course-chapter-container .buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: end;
  gap: 2rem;
  width: 67.5%;
  margin-top: 0.5rem;
}

.course-chapter-container .next-btn {
  height: 3rem;
  padding: 0rem 2rem;
  width: 100%;
  background-color: var(--yelo);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: var(--blue);
  font-weight: bold;
}

.course-chapter-container .back-btn {
  height: 3rem;
  padding: 0rem 2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 2px white solid;
  outline: none;
  border-radius: 0.5rem;
  color: var(--white);
  font-weight: bold;
}

.course-chapter-container .back-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.course-chapter-container .next-btn:hover {
  background-color: var(--yelodark);
}

.pdf-download-container {
  display: flex;
  margin-top: 0.5rem;
  width: 100%;
  justify-content: center;
  color: white;
}

.download-box {
  width: 67.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 2rem;
  background-color: var(--lightblue2);
  border-radius: 0.25rem;
}

.download-box p {
  margin: auto 0;
  font-weight: bold;
  cursor: default;
}

.download-box a {
  background-color: var(--red);
  padding: 0rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--white);
}

.download-box a:hover {
  filter: brightness(80%);
}

.mark-complete-btn {
  width: 67.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 2rem;
  background-color: var(--purple);
  border-radius: 0.25rem;
  border: none;
  color: var(--white);
  font-weight: bold;
}

.complete-btn {
  width: 67.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 2rem;
  background-color: var(--purple);
  border-radius: 0.25rem;
  border: none;
  color: var(--white);
  font-weight: bold;
  cursor: default;
  filter: brightness(50%);
}

.mark-complete-btn:hover {
  filter: brightness(120%);
}

.course-detail-container .submit-btn {
  height: 3rem;
  width: 20%;
  background-color: var(--yelo);
  border: none;
  outline: none;
  border-radius: 50px;
  color: var(--blue);
  margin-top: 1rem;
}

.course-detail-container .submit-btn:hover {
  background-color: var(--yelodark);
}
